<div class="loadHolder" *ngIf="dialogBarrier == 0">
    <div class="header">
        <h2 mat-dialog-title>{{countyTitle}} County</h2>
        <button mat-button [mat-dialog-close]="true"><mat-icon aria-hidden="false" aria-label="Close dialog box">close</mat-icon></button>
    </div>
    <mat-dialog-content>
        <status-bar [countyName]="countyTitle" [pointData]="pointBack"></status-bar>
        <div id="stickyStats">
            <mat-card>
                <h3><b>Current Active Cases:</b></h3> <h1>{{currentActive}}</h1>
            </mat-card>

            <mat-card>
                <h3><b>Current Total Cases:</b></h3> <h1>{{currentTotalCase}}</h1>
            </mat-card>

            <mat-card>
                <h3><b>Current Deaths:</b></h3><h1>{{currentDeathCount}}</h1>
            </mat-card>
        </div>
        <canvas baseChart 
            [datasets]="lineChartData" 
            [labels]="lineChartLabels" 
            [options]="lineChartOptions"
            [legend]="lineChartLegend" 
            [chartType]="lineChartType">
        </canvas>

        <div id="mobilityTable">
            <h3>Latest Mobility Changes By Category</h3>
            <mat-table [dataSource]="mobilityTable" class="mat-elevation-z8">
                <ng-container matColumnDef="grocery_pharmacy_pct">
                    <mat-header-cell *matHeaderCellDef>Grocery</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.grocery_pharmacy_pct}}%</mat-cell>
                </ng-container>
                
                <ng-container matColumnDef="park_pct">
                    <mat-header-cell *matHeaderCellDef>Parks</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.park_pct}}%</mat-cell>
                </ng-container>
                
                <ng-container matColumnDef="retail_recreation_pct">
                    <mat-header-cell *matHeaderCellDef>Retail</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.retail_recreation_pct}}%</mat-cell>
                </ng-container>
                
                <ng-container matColumnDef="transit_pct">
                    <mat-header-cell *matHeaderCellDef>Transit</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.transit_pct}}%</mat-cell>
                </ng-container>

                <ng-container matColumnDef="workplace_pct">
                    <mat-header-cell *matHeaderCellDef>Workplace</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.workplace_pct}}%</mat-cell>
                </ng-container>
                
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
        </div>

        <canvas *ngIf="this.data.name == 'knox'" baseChart 
            [datasets]="lineChartAgeData" 
            [labels]="lineChartAgeData" 
            [options]="lineChartAgeOptions"
            [legend]="lineChartLegend" 
            [chartType]="lineChartType">
        </canvas>

        <canvas *ngIf="this.data.name == 'knox'" baseChart 
            [datasets]="barChartAgeData" 
            [labels]="barChartAgeLabels" 
            [options]="barChartAgeOptions"
            [legend]="lineChartLegend" 
            [chartType]="barChartType">
        </canvas>
    </mat-dialog-content>
</div>

<div class="loading" *ngIf="dialogBarrier != 0">
    <mat-spinner></mat-spinner>
</div>