.header {
    display: grid;
    grid-template-columns: auto 30px;
    align-content: center;
    height: 48px;
    margin-bottom: 30px;

    h2 {
        grid-column-start: 1;
        grid-column-end: 1;
        margin: 0;
    }

    button {
        grid-column-start: 2;
        grid-column-end: 2;
        padding: 0;
        min-width: 0px !important;
        width: 30px !important;
        height: 30px;
        margin-bottom: 2px;
    }
}

mat-dialog-content {
    margin-bottom: 30px;
}

.mat-header-cell {
    flex-direction: column;
    justify-content: center;
}

.mat-cell {
    text-align: center;
    justify-content: center;;
}

#stickyStats {
    display: grid;
    grid-template-columns: auto auto auto;

    mat-card {
        margin: 15px 15px;
        h1 {
            text-align: center;
        }
    }

    mat-card:first-child {
        grid-column-start: 1;
        grid-column-end: 2;
        margin-left: 0;
    }

    mat-card:nth-child(2) {
        grid-column-start: 2;
        grid-column-end: 3;
    }

    mat-card:last-child{
        grid-column-start: 3;
        grid-column-end: 4;
        margin-right: 0;
    }
}

report-bar {
    margin-top: 10px;
    margin-bottom: 10px;
}