<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Evo-19</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<div id="map"></div>
<button (click)="launchCountyDialog('knox')" mat-button>Basic</button>

<mat-divider></mat-divider>

<h1>Local News</h1>
<div class="wrapper">
  <app-news-card *ngFor="let newsData of newsTN | async" [news]="newsData"></app-news-card>
</div>

<h1>Trending News</h1>
<div class="wrapper">
  <app-news-card *ngFor="let newsData of newsTR | async" [news]="newsData"></app-news-card>
</div>